@model RestaurantWeb.Models.AreaModel

@{
    ViewBag.Title = "Delete";
}
<br />
<h3>Are you sure you want to delete this area and all its @Model.NumberOfTables tables?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>