@model RestaurantWeb.Models.ITableModel

<script type="text/javascript">

    var total = 0.00;

    function sum(item) {
        if (item.checked) {
            total += parseInt(item.id);
        } else {
            total -= parseInt(item.id);
        }
        //alert(total);
        document.getElementById('Totalcost').innerHTML = (total/100).toFixed(2);
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <h2>Table @Html.DisplayFor(modelItem => Model.NumberOfTable) - @Html.DisplayFor(modelItem => Model.Area.Name)</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoldProducts.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldProducts.FirstOrDefault().Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldProducts.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldProducts.FirstOrDefault().Detail)
            </th>
            <th>
                Select
            </th>
            <th></th>
        </tr>

        @{ int j = 0;
           decimal price;}
        @foreach (var item in Model.SoldProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @{ price = item.Price * 100; }
                    <input type="checkbox" value="@j" name="Paid" id="@price" onClick="sum(this);"/>
                </td>
            </tr>
            j = j + 1;
        }

    </table>
    <h3> Total: <span id="Totalcost"> </span> €</h3>
    <br />

    <div class="form-actions no-color btn-group">
        <input type="submit" value="Confirm Payment" class="btn btn-success btn-lg" />
        <button onclick="location.href='@Url.Action("TableCategories", "MainMenu", new { id = Model.ID })'" type="button" class="btn btn-warning btn-lg">Return</button>
    </div>
}

